{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

    <div class="row justify-content-center" style="margin-top: 200px;">
        <div class="card align-middle mt-5" style="width: 24rem;" data-bs-theme="dark">
            <div class="card-body text-center">
                <!-- Flashcard Set Title -->
                <p class="card-title mb-4">{{ flashcard.flashcard_set }}</p>

                <!-- Flashcard Front Content -->
                <h5 class="card-text fs-5 mb-4">{{ flashcard.front }}</h5>

                <!-- Flashcard Back Content (Conditional) -->
                {% if show_back %}
                    <p class="card-text fs-5 mb-4">{{ flashcard.back }}</p>
                {% else %}
                    <a href="?show_back=True" class="btn btn-primary btn-sm mb-4">Show</a>
                {% endif %}

                <!-- Navigation Buttons -->
                <div class="d-flex justify-content-between">
                    <!-- Previous Card Button -->
                    {% with previous_card=flashcard.get_previous_card_in_set %}
                        {% if previous_card %}
                            <a href="{% url 'flashcard-detail' previous_card.id %}"
                               class="btn btn-outline-secondary btn-sm">
                                &larr; Previous
                            </a>
                        {% else %}
                            <button class="btn btn-outline-secondary btn-sm" disabled>
                                &larr; Previous
                            </button>
                        {% endif %}
                    {% endwith %}

                    <!-- Next Card Button -->
                    {% with next_card=flashcard.get_next_card_in_set %}
                        {% if next_card %}
                            <a href="{% url 'flashcard-detail' next_card.id %}"
                               class="btn btn-outline-secondary btn-sm">
                                Next &rarr;
                            </a>
                        {% else %}
                            <button class="btn btn-outline-secondary btn-sm" disabled>
                                Next &rarr;
                            </button>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}