{% extends "base.html" %}
{% block title %} Due Flashcard Sets {% endblock %}
{% block content %}
    <div class="container mx-auto mt-20">

        {% if due_sets %}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
                {% for set in due_sets %}
                    <div class="card bg-base-100 shadow-lg">
                        <div class="card-body">
                            <a href="{% url 'start-set-review' set.id %}">
                                <h2 class="card-title">
                                    {{ set.title }}
                                </h2>
                            </a>
                            <p class="text-base opacity-80">{{ set.description }}</p>
                            <div class="flex justify-between items-center mt-4">
                                <div class="badge badge-secondary">{{ set.due_flashcard_count }}
                                    Card{{ set.due_flashcard_count|pluralize }}</div>
                                <div class="card-actions justify-end">
                                    <div class="badge badge-outline">Lorem</div>
                                    <div class="badge badge-outline">Ipsum</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="bi bi-check-circle" style="font-size: 1.25rem;"></i>
                <span>No flashcards due for review right now! Well done!</span>
            </div>
        {% endif %}
    </div>
{% endblock %}